<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
     <head>
        <meta charset="utf-8" />
        <meta name="viewport"        content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>Logo Sapiens</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="./css/bootstrap-responsive.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="./css/jquery.mobile-1.4.0.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="./css/normalize.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="./css/main.css" type="text/css" media="all" />
        <link rel="stylesheet" href="./css/puls4.css" type="text/css" media="all" />
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="header" class="header-container">
        </div>

       <div id="puntos">1234 Puntos <span class="icon-credit "></span> </div>
       <div id="friticas">200 Friticas <span class="icon-uniF6F0 "></span>   </div>

        <div class="footer">
            <footer >
                <h3>Logo sapiens Publicidad</h3>
            </footer>
        </div>

        <!--templates-->
        <script id="logos-template" type="text/template" charset="utf-8">
            <header class="wrapper clearfix">
                <h1 class="title"></h1>
                        <img src="img/logo-sapiens.png" alt="Puls4" class="logo" />
            </header>

            <div class="container-fluid">
                <span id="nivel"style="color: PURPLE; font-weight: bold;">Nivel <%- level %>____________________________<a class="tag" href="levels.html"> <span id="icon" class="icon-undo "></span></a></span>
             </div>

            <div class="container-fluid">
                <div id="div1" class="row-fluid">
                    <div id="logos" class="span3-fluid">
                    </div>
                </div>
            </div>
        </script>

        <script id="logo-template" type="text/template" charset="utf-8">
            <div>
                <a href="#"><img src="<%- image %>" alt=""/></a>
            </div>
        </script>
        <!--/templates-->

        <!--libs-->
        <script src="./js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/jquery.mobile-1.4.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/backbone-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/backbone.localStorage-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/plugins.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/main.js" type="text/javascript" charset="utf-8"></script>
        <!--/libs-->

        <!--backbone-->
        <script src="./js/models/logo.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/collections/logos.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/views/logo.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/views/logos.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/app2.js" type="text/javascript" charset="utf-8"></script>
        <!--/backbone-->
    </body>
</html>

